<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         cacheDirectory=".phpunit.cache"
         failOnWarning="true"
         failOnRisky="true"
         failOnDeprecation="true"
         failOnNotice="true"
         beStrictAboutOutputDuringTests="true"
         defaultTestSuite="unit">
    <testsuites>
        <testsuite name="unit">
            <directory>tests/Unit</directory>
        </testsuite>
        <!-- Needs a live WordPress: CI job "e2e" (MDMFA_E2E_URL, WP_PATH). Skips otherwise. -->
        <testsuite name="e2e">
            <directory>tests/E2e</directory>
        </testsuite>
        <!-- Needs a live WordPress with WooCommerce: CI job "e2e-wc". Skips otherwise. -->
        <testsuite name="e2e-wc">
            <directory>tests/E2eWc</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory>src</directory>
        </include>
    </source>
</phpunit>
